* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center;
}

h1 {
    padding-bottom: 40px;
    color: #e53170;
}

