* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

.container{
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
}

header {
    text-align: center;
    padding-bottom: 30px;
}

h1 {
    padding-bottom: 40px;
    color: #e53170;
}

.card-container {
    padding: 10px 10px 30px ;
    width: 33%;
    float: left; 
}

.card {
    background-color: black;
    line-height: 120%;
    color: white;
    box-shadow: 2px 2px 10px black;
}

.card-photo {
    height: 80px;
    float: left;
    padding-right: 10px;
}

.clear-fix::after {
    content:"";
    display: block;
    clear: both;
}

.name {
    padding-top: 10px;
    font-weight: 700;
}

.email {
    color: #28dbf8;
    text-decoration: none;
}